/* @author Nightwalker Yao (http://about.me/nighwalker.y)
@date nov 2022
@for Atos academy bootcamp prep - coding challenge */

/* Rubik Moonrocks font hosted on GoogleAPIs */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");

/* Custom background animation for the header */
@keyframes bgcoloranimation {
  0% {
    background-position: 99% 0%;
  }
  50% {
    background-position: 2% 100%;
  }
  100% {
    background-position: 99% 0%;
  }
}

/* General elements */
body {
  margin: 0px;
  background-color: rgba(46, 16, 86, 0.2);
  font-family: sans-serif;
  color: #343333;
  padding: 0px;
  width: calc(100vw-2px);
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #561aa4;
}
.h2 {
  font-size: 48pt;
}
header {
  background: linear-gradient(229deg, #2e1056, #212967);
  background-size: 400% 400%;
  animation: bgcoloranimation 5s ease infinite;
}
footer{
  width: 100%;
  padding: 16px 0;
  margin: 32px auto 0 auto;
  text-align: center;
  background-color: rgba(46, 16, 86, 0.248);
}

/* Custom elements
  order flows from top to bottom
*/
.header-bg {
  max-width: 56vw;
  background-image: url("images/S.pri-noir-nouveau-concept-1200x900.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  border-radius: 80% 40%;
  padding-top: calc(93vh - 100px);
}
.title {
  width: 100%;
  text-align: center;
  font-size: 58px;
  font-family: "Rubik Moonrocks", cursive;
  padding-bottom: 16px;
  color: #efebf5;
}
.about {
  margin: 16px auto;
  padding-top: 100px;
  max-width: 60vw;
  font-size: 19pt;
  text-align: justify;
  position: relative;
  line-height: 1.6;
}
.about h2 {
  transform: rotate(-90deg);
  position: absolute;
  top: 2em;
  right: -2em;
  font-size: 48pt;
}
.about figure {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 350px;
}
.about figure img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.about figure figcaption {
  display: block;
  text-align: center;
}
.discography {
  margin: 0px auto 16px auto;
  padding-top: 70px;
  max-width: 75vw;
}
.albums {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 24px;
}
.album-item {
  width: 48%;
  border: 1px solid #ccc;
  padding: 0px;
  height: 140px;
  display: flex;
  background-color: rgb(190, 190, 188);
  border-radius: 4px;
  outline: none;
  overflow: hidden;
}
.album-artwork {
  width: 40%;
  background-size: cover;
  background-position: center center;
}
.album-details {
  width: calc(100% - 40%);
  padding: 4px 16px;
}
.album-details span {
  display: block;
}
.album-title {
  font-size: 16pt;
  font-weight: 900;
}
.album-title em {
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 13pt;
}
.album-release-year {
  color: #efebf5;
  font-weight: 900;
  margin-top: 0.8em;
  margin-bottom: 8px;
}
.play-album {
  font-family: "Rubik Moonrocks";
  padding: 5px 12px;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.play-album:hover {
  background-color: #bfbbbb;
}
.youtube {
  display: block;
  margin: 75px auto;
  width: 75vw;
}
footer .links{
  padding: 0 16px;
  display: flex;
  justify-content: center;
}
.link-item {
  width: 33%;
  height: 300px;
}
.circle-img{
  border-radius: 50%;
  border: 1px solid #ccc;
}
.copyrights{
  font-size: small;
}

/* Responsiveness */

/* Breakpoint: Small */
@media (max-width: 767px) {
  header{
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url("images/S.pri-noir-nouveau-concept-1200x900.jpg");
    background-repeat: repeat-x;
    background-size: contain;
    animation: none;
  }
  .header-bg {
    width: 100%;
    background: none;
    margin: 0 0;
    border-radius: 0;
    padding-top: 0;
    height: 50vh;
    position: relative;
  }
  .title {
    font-size: 36px;
    position: absolute;
    bottom: 0em;
    width: 100vw;
    color: rgb(40, 39, 39);
  }
  .about {
    padding-top: 10px;
    max-width: 100vw;
    font-size: 16pt;
    position: relative;
    line-height: 1.6;
    padding-left: 16px;
    padding-right: 16px;
  }
  .about h2 {
    transform: none;
    position: static;
    top: 0em;
    right: 0em;
    font-size: 38pt;
    text-align: center;
    margin: 0 auto 16px auto;
  }
  .h2 {
    font-size: 36pt;
    text-align: center;
  }
  .discography {
    margin: 0px 0px 16px 0px;
    padding-top: 30px;
    max-width: 100vw;
  }
  .albums {
    gap: 12px;
    margin-top: 24px;
    justify-content: center;
  }
  .album-item {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0px;
    height: auto;
  }
  .youtube {
    width: calc(100vw - 4px);
    padding: 0 4px;
    height: 300px;
  }
  footer .links{
    padding: 0 4px;
    display: block;
    justify-content: center;
  }
  .link-item {
    margin-top: 40px;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .copyrights{
    font-size: medium;
  }
}

/* Breakpoint: Medium */
@media (min-width: 768px) and (max-width: 900px) {
  .header-bg {
    max-width: 100vw;
    border-radius: 0px;
    padding-top: calc(58vh - 100px);
  }
  .title {
    color: rgb(210, 202, 202);
  }
  .about {
    max-width: 90vw;
  }
  .discography {
    padding-top: 30px;
    max-width: 96vw;
  }
  .album-item {
    height: auto;
  }
  .youtube {
    width: 99vw;
    height: 550px;
  }
}